* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
/*	font-size: 100%;*/
	vertical-align: baseline;
}

:root {
	--primary-red: hsl(0, 100%, 74%);
	--primary-green: hsl(154, 59%, 51%);
	--accent-blue: hsl(248, 32%, 49%);
	--neutral-darkblue: hsl(249, 10%, 26%);
	--neutral-grayishblue: hsl(246, 25%, 77);
	--fontsize: 16px;
	--font-family: 'Poppins', sans-serif;
} 

.container {
	background-color: var(--primary-red);
	background-image: url("../images/bg-intro-desktop.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	height: 100vh;
}