:root {
	--primary-red: hsl(0, 100%, 74%);
	--primary-green: hsl(154, 59%, 51%);
	--accent-blue: hsl(248, 32%, 49%);
	--neutral-darkblue: hsl(249, 10%, 26%);
	--neutral-grayishblue: hsl(246, 25%, 77);
	--fontsize: 16px;
	--font-family: 'Poppins', sans-serif;
} 


* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
/*	font-size: 100%;*/
	vertical-align: baseline;
}

body {
	font-family: var(--font-family);
}

h1 {
	font-size: 50px;
	color: white;
	line-height: 110%;
	margin-bottom: 30px;
	letter-spacing: 1px;
}



.container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--primary-red);
	background-image: url("../images/bg-intro-desktop.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	height: 100vh;
}

.flex-left {
	width: 500px;
	padding-right: 30px;
}

.flex-right {
	width: 550px;
	padding-left: 30px;
}

.form-styling {
	display: block;
    width: 88%;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 13px;
    font-weight: 600;
    line-height: 1.5;
    color: black;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 20px 0;
    letter-spacing: 0.5px;
    padding: 13px 28px;
}

.btn-lg {
	width: 400px;
}

.box {
	background-color: white;
	border-radius: 5px;
	padding: 0 35px;
	padding-top: 25px;
	padding-bottom: 40px;
	margin-top: 20px;
	border: 1px solid #f5f5f5;
    box-shadow: 0px 8px 0 rgba(0,0,0,0.1);
    border-radius: 15px;
}

#subscribe {
	color: white;
	font-size: var(--fontsize);
	background-color: var(--accent-blue);
	padding: 15px;
	border: 1px solid hsl(248, 22%, 49%);
	box-shadow: 0px 5px 0 rgba(0,0,0,0.1);
	border-radius: 10px;
}

#free-trial {
	background-color: var(--primary-green); 
	text-transform: uppercase; 
	color: white;
	font-size: var(--fontsize);
	letter-spacing: 1px;
	font-weight: 500;
	padding: 15px;
	border: 1px solid hsl(154, 42%, 51%);
	box-shadow: 0px 3px 0 rgba(78,183,137);
	border-radius: 10px;
}

#terms{
	color: #C8C8C8;
	font-size: 12px;
	margin-top: 20px;
	text-align: center;
}
#terms span{ 
	color: var(--primary-red);
	font-weight: 600;
}




