body {
	font-family: var(--font-family);
}

html {
	font-size: 62.5%;
}

:root {
	--primary-red: hsl(0, 100%, 74%);
	--primary-green: hsl(154, 59%, 51%);
	--accent-blue: hsl(248, 32%, 49%);
	--neutral-darkblue: hsl(249, 10%, 26%);
	--neutral-grayishblue: hsl(246, 25%, 77);
	--fontsize: 1.75rem;
	--font-family: 'Poppins', sans-serif;
} 


* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/*	font-size: 100%;*/
	vertical-align: baseline;
}

h1 {
	font-size: 5rem;
	color: white;
	line-height: 110%;
	margin-bottom: 20px;
}

p {
	font-size: var(--fontsize);
}

.box {
	background-color: white;
	border-radius: 5px;
	padding: 0 35px;
	padding-top: 25px;
	padding-bottom: 40px;
	margin-top: 20px;
	border: 1px solid #f5f5f5;
	box-shadow: 0px 8px 0 rgba(0,0,0,0.1);
	border-radius: 15px;
}

.form-styling {
	display: block;
	width: 100%;
	height: calc(1.5em + 0.75rem + 2px);
	font-size: 13px;
	font-weight: 600;
	line-height: 1.5;
	color: hsl(249, 10%, 26%);
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	margin: 20px 0;
	letter-spacing: 0.5px;
	padding: 25px;
}

.form-styling:focus {
	border-color: #000000;
	box-shadow: none;
}

.masthead {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--primary-red);
	background-image: url("../images/bg-intro-desktop.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	height: 100vh;
}

#form div {
	margin-left: 5px;
}

#free-trial {
	background-color: var(--primary-green); 
	text-transform: uppercase; 
	color: white;
	font-size: var(--fontsize);
	letter-spacing: 1px;
	font-weight: 500;
	padding: 15px;
	border: 1px solid hsl(154, 42%, 51%);
	box-shadow: 0px 3px 0 rgba(78,183,137);
	border-radius: 10px;
}

#free-trial:hover {
	background-color: hsl(154, 69%, 51%);
}

#free-trial:focus {
	box-shadow: none; 
}

#subscribe {
	color: white;
	font-size: var(--fontsize);
	background-color: var(--accent-blue);
	padding: 15px;
	border: 1px solid hsl(248, 22%, 49%);
	box-shadow: 0px 5px 0 rgba(0,0,0,0.1);
	border-radius: 10px;
	text-align: center;
}

#summary div {
	margin-right: 5px;
}


#terms{
	color: #C8C8C8;
	font-size: 12px;
	margin-top: 20px;
	text-align: center;
}

#terms span{ 
	color: var(--primary-red);
	font-weight: 600;
}

/* iPhone */
@media (min-width: 375px) and (max-width: 960px) {
	h1 {
		font-size: 3rem;
		text-align: center;
		margin-top: 50px;
	}
	p {
		font-size: 1.7rem;
		text-align: center;
	}
		
	.form-styling {
		display: block;
		width: 100%;
		height: calc(1.5em + 0.75rem + 2px);
		font-size: 13px;
		font-weight: 600;
		line-height: 1.5;
		color: black;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: 0.25rem;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		margin: 10px 0;
		letter-spacing: 0.5px;
		padding: 25px;
	}

	.masthead {
		display: flex;
		align-items: center;
		background-color: var(--primary-red);
		background-image: url("../images/bg-intro-mobile.png");
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-size: cover;
		height: 100vh;
	}

	#form {
		margin-top: 70px;
	}

	#form div {
		margin-left: 0px;
	}
	
	#free-trial {
		background-color: var(--primary-green); 
		text-transform: uppercase; 
		color: white;
		font-size: 1.7rem;
		letter-spacing: 1px;
		font-weight: 500;
		padding: 15px;
		border: 1px solid hsl(154, 42%, 51%);
		box-shadow: 0px 3px 0 rgba(78,183,137);
		border-radius: 10px;
	}

	#subscribe {
		color: white;
		font-size: 1.7rem;
		background-color: var(--accent-blue);
		padding: 20px;
		border: 1px solid hsl(248, 22%, 49%);
		box-shadow: 0px 5px 0 rgba(0,0,0,0.1);
		border-radius: 10px;
		text-align: center;
	}
		
	#text {
		width: 250px;	
		text-align: center;
		display: inline-block;
	}	
}

/********** THE FOLLOWING STYLES APPLY TO ERROR MESSAGES **********/
/* styling for error message */ 
.border-error { 
	border: 2px solid var(--primary-red); 
}

/* error message will not be visible until an error occurs */
.error {
	display: none; 
}

.error-bg {
	background-image: url("../images/icon-error.svg");
	background-position-x: 95%;
	background-position-y: center;
	background-repeat: no-repeat;	
}

.error-text {
	color: var(--primary-red);
	display: block;
	font-size: 10px;
	text-align: right;
	font-style: italic;
	margin-top: -15px;
}

